[Desktop Entry]
Version=1.0
Name=Glissando
Exec=glissando
Icon=glissando
Type=Application
Terminal=false
Categories=GTK;GNOME;AudioVideo;Audio;HamRadio;
Comment=Chirp text chat for HF amateur radio
Keywords=Radio;HAM;HF;RF;chirp;chat;modem;
