/build/
/build_linux/
/build-appimage/
appimage/linuxdeploy-plugin-gtk.sh
/build_osx/
/codec2/
/hamlib/
/hamlib-code/
/LPCNet/
/macdylibbundler/
/text_chat_loopback/

a.out
*.o
*.make
*.log
*.marks
*.AppDir
*.AppImage
appimage/.cache/
